<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/style.css" />
        <title>Logowanie</title>
    </head>
    <body>
        <div class="bg" aria-hidden="true">
            <div class="bg__dot"></div>
            <div class="bg__dot"></div>
        </div>

        <h1>Weryfikacja tożsamości</h1>

        <form class="form" autocomplete="off" action="/auth/userPanel" method="POST" >

            <div class="form__icon" aria-hidden="true"></div>

            <h4>Proszę podać kod z emaila lub aplikacji mobilnej</h4>
            <div class="form__input-container">
                <input
                    aria-label="Kod"
                    class="form__input"
                    type="text"
                    id="kod"
                    placeholder=" "
                    name="kod"
                    required
                />
                <label class="form__input-label" for="kod">Kod Dostępu</label>
            </div>

            <h4>Proszę podać odpowiednie litery hasła uwierzytelniającego</h4>
            <p>Numery liter: {{num1}} {{num2}} {{num3}} {{num4}}</p>
            <div class="form__input-container">
                <input
                    aria-label="Pin"
                    class="form__input"
                    type="text"
                    id="pin"
                    placeholder=" "
                    name="pin"
                    required
                />
                <label class="form__input-label" for="pin">Litery Hasła</label>
            </div>

            <h4>Odpowiedz na pytanie weryfikujące</h4>
            
               <p> {{Question}} </p>
            
            <div class="form__input-container">
                <input
                    aria-label="Answer"
                    class="form__input"
                    type="text"
                    id="answer"
                    placeholder=" "
                    name="answer"
                    required
                />
                <label class="form__input-label" for="answer">Odpowiedź</label>
            </div>
            
            <div class="form__spacer" aria-hidden="true">
            </div>
            <button type="submit" class="form__button">Zaloguj</button>

            

            <div class="alert_container">
                {{#if message }}
    
                    <h4 class="alert_message"> {{message}} </h4>
    
                {{/if}}
            </div>

        </form>


    </body>
</html>
